* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 1rem
  background-color:;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 1.25rem;
}

.price-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 24rem;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 1.5625rem 1.5625rem rgba(0, 0, 0, 0.05);
}




























.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
